@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

body {
  background: none !important;
}

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: url("/api/img/bg.jpg?s=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  z-index: -1;
}

.mantine-Accordion-chevron {
  position: absolute;
  display: none;
}