@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body{
  background: none !important;
}

html{
  min-height: 100vh;
  background: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}